
## Required ##
BUSTER_BOT_TOKEN=abc123
BUSTER_BOT_CONFIG=data/config.json # Note: This is a relative path or exact URL
BUSTER_BOT_DATA_PATH=/data

## Not Required ##
BUSTER_BOT_PREFIX=!

BUSTER_LOG_COMMANDS=false
BUSTER_LOG_MESSAGES=false

## Required for Specific Commands ##
BUSTER_WEB_TENOR_TOKEN=abc123
BUSTER_WEB_PERSPECTIVE_API_KEY=abc123
BUSTER_WEB_GITHUB_API_KEY=abc123