name: Build Container

on:
  workflow_dispatch:
  create:
    tags:
      - v*
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v2

      - name: Get the version
        id: version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: "Docker Build/Push"
        id: build
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: pulsedevelopmentgroup/buster/bot
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          tags: "latest,${{ steps.version.outputs.VERSION }}"
